export(glmdr)

importFrom(stats, coefficients)
importFrom(stats, glm)
importFrom(stats, model.frame)
importFrom(stats, model.offset)
importFrom(stats, model.response)
importFrom(Matrix, rankMatrix)

S3method(print, summary.glmdr)
S3method(summary, glmdr)
