export(glmdr)

importFrom(stats, coefficients)
importFrom(stats, glm)
importFrom(stats, model.frame)
importFrom(stats, model.offset)
importFrom(stats, model.response)
importFrom(trust, trust)
importFrom(Matrix, rankMatrix)
